<% @user ||= current_user %>
<div class="container-fluid" id="stats">
	<a>
		<strong id="bikes" class="stat">
			
			 <%= @user.bikes.count %>
		</strong>
	<%= unless @user.bikes.count === 1 then "Bikes" else "Bike" end %>
	</a>
	<a>
		<strong id="friends" class="stat">
			<%= @user.relationships.count %>
		</strong>
	<%= unless @user.relationships.count === 1 then "Friends" else "Friend" end %>
	</a>
	<a>
		<strong id="comments" class="stat">
			<%= @user.comments.count %>
		</strong>
	<%= unless @user.comments.count === 1 then "Comments" else "Comment" end %>
	</a>
</div>