<% provide(:title, "#{@user.username}'s #{@bike.name}".html_safe ) %>

<div class="container-fluid">
	<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1">
				<div class="well">
					<%= image_tag @bike.picture.url %>
				</div>
				
				<div class="well">
					Graph Placeholder
				</div>
			</div>
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-3 col-md-offset-0 col-lg-3">
			<div class="well">
				<%= render partial: 'bikeInfo', :object => {:bike => @bike, :user => @user } %>
			</div>
			<div class="well">
					<p>This <strong><%= "#{@bike.make} #{@bike.model}" %></strong> currently has a rating of <strong><%= @bike.current_rating %></strong></p>
					 <% for i in 1..10 %>
						<%= form_for(@rating) do |f| %>
							<%= f.hidden_field :bike_id, :value => @bike.id %>
							<%= f.hidden_field :score, :value => i %>
							<%= f.submit i, class: "btn btn-large btn-primary" %>
						<% end %>
					 <% end %>
			</div>
			<div class="well">
				<%= render @comments %>
				<%= render 'shared/comment_form' %>
			</div>
		</div>
	</div>
</div>
