<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
     		<%= link_to "Rate My Bike", root_url, class: "navbar-brand" %>
     	</div>
        <% if !signed_in? then %>
     	  <%= form_for(:session, url: sessions_path, html: {class: "navbar-form navbar-right"})  do |f| %>
     		 <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
     		 <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
     		 <%= f.submit "Sign in", class: "btn btn-default" %>
     	  <% end %>
        <% else %>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <%= current_user.username %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><%= link_to "Profile", current_user.username %></li>
                    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Sign out", signout_path %></li>
                </ul>
            </li>
        </ul>
        <% end %>
    </div>
</nav>